body {
  background-color: #3a4750;
}

h1 {
  text-align: center;
  color: #e7eaf6;
}

.container {
  background-color: #303841;
  padding: 20px;
  border-radius: 12px;
  border: 5px solid #e7eaf6;
  width: 400px;
  margin: 0 auto;
  height: 600px;
}

.screen {
  background-color: #d3d6db;
  padding: 15px 20px;
  text-align: end;
  margin-bottom: 5px;
  border-radius: 12px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-equation {
  min-height: 35px;
  font-size: 20px;
}

.current-equation {
  min-height: 64px;
  font-size: 45px;
}

.clear {
  padding: 25px 35px;
  margin: 5px;
  border: 2px solid #be3144;
  border-radius: 8px;
  font-size: 25px;
  background-color: #be3144;
  transition: all 250ms ease-in-out;
}

.clear:hover {
  background-color: #ce4254;
  color: #e7eaf6;
  border: 2px solid #e7eaf6;
}

.delete {
  padding: 15px 20px;
  margin: 5px;
  border: 2px solid #e7eaf6;
  border-radius: 8px;
  font-size: 25px;
  transition: all 250ms ease-in-out;
}

.delete:hover {
  background-color: #3a4750;
  color: #e7eaf6;
}

.number-button,
.operator-button,
.equal {
  padding: 25px;
  margin: 5px;
  border: 2px solid #e7eaf6;
  border-radius: 8px;
  font-size: 25px;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.number-button:hover {
  background-color: #3a4750;
  color: #e7eaf6;
}

.operator-button:hover {
  background-color: #3a4750;
  color: #e7eaf6;
}

.equal:hover {
  background-color: #3a4750;
  color: #e7eaf6;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
